autopep8==1.6.0
colorama==0.4.4
jieba==0.42.1
loguru==0.5.3
mysql-replication==0.27
peewee==3.14.8
pycodestyle==2.8.0
pymongo==4.0.2
PyMySQL==1.0.2
PySide6==6.2.2.1
python-dateutil==2.8.2
shiboken6==6.2.2.1
six==1.16.0
toml==0.10.2
typejson==0.0.2
typing_extensions==4.0.1
Whoosh==2.7.4
win32-setctime==1.0.4
